

@font-face {
	font-family: 'UltraRegular';
	src: url('../fonts/ultra-webfont.eot');
	src: url('../fonts/ultra-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/ultra-webfont.woff')
		format('woff'), url('../fonts/ultra-webfont.ttf') format('truetype'),
		url('../fonts/ultra-webfont.svg#UltraRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/opensans-regular-webfont.woff') format('woff'),
		url('../opensans-regular-webfont.ttf') format('truetype'),
		url('../opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

a {
	outline: none;
}

img {
	border: 0;
}

p {
	letter-spacing: 0.025em;
	line-height: 20px;
}

p a {
	color: #d5af87;
}

p a:hover {
	color: #bfcb75;
}

#page {
	
	margin: 0px auto 0;
	padding: 10px;
	width: 940px;
}

#page div {
	
	padding: 0;
	width: 940px;
}

#page div div#header {
	background: none;
	overflow: hidden;
	padding: 0;
	width: auto;
	margin-bottom:20px;
}

#page div div#header img {
	float: left;
	margin: 30px 0 0 32px;
}

#page div div#header ul {
	float: right;
	list-style: none;
	margin: 70px 0 20px 0;
	overflow: hidden;
	padding: 0;
	width: 580px;
}

#page div div#header ul li {
	float: left;
	padding: 0 20px;
}

#page div div#header ul li a {
	color: #db9e29;
	display: block;
	font-family: 'UltraRegular';
	font-size: 16px;
	text-decoration: none;
}

#page div div#header ul li.current a, #page div div#header ul li a:hover
	{
	border-bottom: 5px solid #a2b83a;
}

#page #logmsg {
	color: green;
	position: absolute;
	top: 140px;
	left: 460px;
	width: 450px; font-family : 'UltraRegular';
	font-size: 16px;
	font-family: 'UltraRegular';
}

#page #logmsg a {
	margin-left: 30px;
	color: #db9e29;
}

#page #logmsg:hover {
	border-bottom: none;
}

button{width:100px;height:40px;left:200px;}